<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GoLang Pz3 - Add product</title>
</head>
<body>
{{- /*gotype: go-pz3.CreateTmplResponse*/ -}}
{{if .Error }}
    <h3 style="color: red">{{.Error}}</h3>
{{end}}
<form action="" method="POST">
    <input type="text" name="model" placeholder="Model" value="{{.Model}}"/>
    <input type="text" name="company" placeholder="Company" value="{{.Company}}"/>
    <input type="number" name="price" placeholder="Price" value="{{.Price}}"/>
    <button type="submit">Add product</button>
</form>
</body>
</html>