<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GoLang Pz3</title>
</head>
<body>
<table>
    <thead>
    <th>Id</th>
    <th>Model</th>
    <th>Company</th>
    <th>Price</th>
    <th>Actions</th>
    {{ range . }}
        {{- /*gotype: go-pz3.Product*/ -}}
        <tr>
            <td>{{ .Id }}</td>
            <td>{{ .Model }}</td>
            <td>{{ .Company }}</td>
            <td>{{ .Price }}</td>
            <td>
                <a href="/products/{{.Id}}/edit">Edit</a>
                <a href="/products/{{.Id}}/delete">Delete</a>
            </td>
        </tr>
    {{ end }}
    </thead>
</table>

<button onclick="location.href = '/create'">Add product</button>

</body>
</html>